@import '../../../../styles/variables';

.chat__input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 9px;
  font-size: 14.5px;
  line-height: 15px;
  textarea {
    padding: 12px;
    border: none;
    border-radius: 8px;
    max-height: 100px;
    height: 40px;
    width: 100%;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  .chat__input__icon {
    cursor: pointer;
    min-width: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
      fill: $icon-color;
    }
  }
}