@import "../../styles/variables.scss";

.main-container {
  display: flex;
  height: 100vh;
  width: 100%;
  @media (min-width: 1490px) {
    padding: 20px;
    background:linear-gradient(0deg, $border-hard , $bg-color 80%, $mid-green 80%);
    box-shadow: 0 6px 18px rgba(11,20,26,.05);
  }
}

